<% if flash[:errors] %>
    <% flash[:errors].each do |err| %>
        <p style="color: red"><%= err %></p>
    <% end %>
<% end %>
<br>
<br>
<%= form_for [@neighbor, @child] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.label :age %>
    <%= f.text_field :age %>
    <br>
    <br>
   
    <%= f.submit %>
    
<% end %>
 