<br>

<h1>Child's Profile Page</h1>

<br>

<% if flash[:success] %>
    <p><%= flash[:success] %></p>
    <% end %>

<p>Child's Name: <%= @child.name %></p>
<p>Worker Bee Id: <%= @child.age %></p>

 <p> <%= link_to "Profile Page", neighbor_path(@child.neighbor_id)%></p>
  <p><%= link_to "Update", edit_neighbor_child_path(@neighbor, @child)%></p>
<br>
  <%= button_to "Delete", neighbor_child_path(@neighbor, @child), {method: :delete} %>
 