<h1>Child's Show Page</h1>

<% if flash[:success] %>
    <p><%= flash[:success] %></p>
    <% end %>

<p>Child's Name: <%= @child.name %></p>
<p>Worker Bee Id: <%= @child.age %></p>

  <%= link_to "Profile Page", neighbor_path(@child.neighbor_id)%>
  <%= button_to "Delete", child_path(@child), {method: :delete} %>
  <%= link_to "Update", edit_child_path(@child)%>
 