<br>

<h1>Dog's Profile Page</h1>

<br>

<% if flash[:success] %>
    <p><%= flash[:success] %></p>
    <% end %>

<p>Name: <%= @dog.name %></p>
<p>Breed: <%= @dog.breed %></p>
<p>Age: <%= @dog.age %></p>

 <p> <%= link_to "Profile Page", neighbor_path(@dog.neighbor_id)%></p>
  
 <p> <%= link_to "Update", edit_neighbor_dog_path(@neighbor, @dog)%></p>
  <br>
  <%= button_to "Delete", neighbor_dog_path(@neighbor, @dog), {method: :delete} %>

  