
<% if flash[:errors] %>
    <% flash[:errors].each do |err| %>
        <p style="color: red"><%= err %></p>
    <% end %>
<% end %>

<%= form_for @job do |f| %>
    <%= f.label :category %>
    <%= f.text_field :category %>
 
    <%= f.label :total_time %>
    <%= f.text_field :total_time %>

    <%= f.label :date %>
    <%= f.text_field :date %>

    <%= f.label :time %>
    <%= f.text_field :time %>

    <%= f.label :neighbor_id %>
    <%= f.collection_select :neighbor_id, @neighbors, :id, :name %>

    <%= f.label :worker_bee_id %>
    <%= f.collection_select :worker_bee_id, @worker_bees, :id, :name %>
    <%= f.submit %>
    
    <% arr=[] %>
    <% @worker_bees.each do |bee|%>
    <p><% arr << ("#{bee.rate}"+"    "+"#{bee.skill_set}"+"  "+"#{bee.name}") %></P>
    <% end %>
     <% arr.sort.each do |ar| %>
     <p><%= ar %></>
     <% end %>

<% end %>
