<h1>New neighbor</h1>


















# <%= form_for @neighbor do |f|%>
#   <%= f.label :Username%><br>
#   <%= f.text_field :name%><br>
#   <%= f.label :address%><br>
#   <%= f.text_field :address%><br>
#   <%= f.submit %>
# <%end%>
