
<h1>Howdy, Neighbor!</h1>

<% if flash[:success] %>
    <p style="color: green"><%= flash[:success] %></p>
<% end %>

<div>
    <h1> <%= @neighbor.name %> </h1>
    <h2> <%= @neighbor.address %> <h2>

    <h3> Children: </h3>
    <ol>
        <% @neighbor.children.each do |child| %>
            <li>
                <%= link_to child.name, neighbor_child_path(@neighbor,child) %>
            </li>
        <% end %>
    </ol>
    <br>
<%= link_to "Add a Child", new_neighbor_child_path(@neighbor) %>
    <h3> Dogs: </h3>
    <ol>
        <% @neighbor.dogs.each do |dog| %>
            <li>
                <%= link_to dog.name, neighbor_dog_path(@neighbor,dog) %>
            </li>
        <% end %>
    </ol>
        <br>
<%= link_to "Add a Dog", new_neighbor_dog_path(@neighbor) %>

<h3> Jobs: </h3>
    <ol>
        <% @neighbor.jobs.each do |job| %>
            <li>
                <p>Category:<%=job.category%></p>
                <p>Name of the Worker Bee:<%= link_to WorkerBee.find(job.worker_bee_id).name, job_path(job)%></p>
              
            </li>
        <% end %>
    </ol>

</div>
    <br>
<%= link_to "Add a new job", new_job_path %> 
<br>
<br>
<br>
<br>
<%= link_to "Index Page", neighbors_path%>
<br>
<br>
  <%= button_to "Delete", neighbor_path(@neighbor), {method: :delete} %>

    